/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV 1
#define SYM 2


&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

&sk {
    release-after-ms = <200>;
};

/ { 

    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
        label = "VBATT";
    };

    combos {
        combo_btclr {
            bindings = <&bt BT_CLR>;
            key-positons = <20 29>;
            layers = <NAV>;  
        }; 
    };
    
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        as: alpha_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };    
    };

    keymap {
        compatible = "zmk,keymap";
                
        default_layer {
            label = "BASE";
            bindings = <
                &kp Q          &kp W          &kp F        &kp P           &kp B                    &kp J    &kp L        &kp U        &kp Y            &kp SEMI 
                &as LSHFT A    &am LCTRL R    &am LALT S   &am LGUI T      &kp G                    &kp M    &am RGUI N   &am LALT E   &am RCTRL I      &as LSHIFT O
                &kp Z          &kp X          &kp C        &kp D           &kp V                    &kp K    &kp H        &kp COMMA    &kp DOT          &kp SLASH
                                                           &sl NAV         &kp RET                  &kp SPC  &sl SYM
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
                &kp TAB        &kp ESC        &kp C_PREV       &kp C_PP        &kp C_FF                 &kp LS(TAB)    &kp TAB        &none        &kp DEL          &kp BSPC
                &kp LSHFT      &kp LCTRL      &kp LALT         &kp LGUI        &none                    &none          &kp LEFT       &kp DOWN     &kp UP           &kp RIGHT
                &none          &none          &kp C_VOL_DN     &kp K_MUTE      &kp C_VOL_UP             &none          &none          &kp PG_DN    &kp PG_UP        &none
                                                               &none           &none                    &none          &none 
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
                &kp ESC        &none          &none        &none           &none                    &kp SQT      &kp N7       &kp N8       &kp N9           &kp N0 
                &kp LSHFT      &kp LCTRL      &kp LALT     &kp LGUI        &none                    &kp BSLH     &kp N4       &kp N5       &kp N6           &kp MINUS
                &none          &none          &none        &kp GRAVE       &kp LBKT                 &kp RBKT     &kp N1       &kp N2       &kp N3           &kp EQUAL
                                                           &none           &none                    &none        &none 
            >;
        };

        
    };
};
